<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
    <ion-buttons slot="end" (click)="irPerfil()">
      <ion-button >
        <ion-icon name="person"></ion-icon>

        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>

  <ion-card>
    <img  src="/assets/logo2.png" />
    <ion-card-header  color="success">
    <ion-card-title class="ion-text-center" ><h1 >Farma App</h1></ion-card-title>
  </ion-card-header>
  </ion-card>


  <ion-button
  button
  expand="block"
  color="primary" href="/dia-cerca"
  >Buscar farmacia</ion-button>



  <ion-button
  button
  expand="block"
  color="primary" href="/receta"
  >Recetas</ion-button>

  <ion-button
  button
  expand="block"
  color="primary" href="/buscarcn"
  >Buscar fármaco</ion-button>

  <ion-button
  button
  expand="block"
  color="primary" href="/prueba"
  >Fármaco con problemas de suministro</ion-button>
 
 

</ion-content>
