<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="receta">Modificar receta {{receta.nombre}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/receta"></ion-back-button>
    </ion-buttons >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
<ion-card>
<ion-card-content>

<ion-input *ngIf="receta" type="text"  [(ngModel)]=receta.cip >

</ion-input>
<ion-input *ngIf="receta" type="text"  [(ngModel)]=receta.nombre>

</ion-input>
<ion-img *ngIf="receta" [src]="receta.foto"></ion-img> 
<ion-input *ngIf="receta" type="text"  [(ngModel)]=receta.foto>

</ion-input>
<ion-button color="tertiary" (click)="modificarRegistro()">
  Modificar
</ion-button>

</ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-content>
