<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Añadir un un nuevo medicamento a la lista</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/receta"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
<ion-card>
<ion-card-content>
<ion-input type="text" placeholder="Escribe el cn del medicamento"#cn>

</ion-input>
<ion-input type="text" placeholder="Escribe el nombre" #nombre>

</ion-input>
<ion-input type="text" placeholder="url de la imagen de la caja" #foto>

</ion-input>
<ion-button color="tertiary" (click)="nuevoRegistro(cn,nombre,foto)">
  Guardar
</ion-button>
</ion-card-content>
</ion-card>
</ion-col>
</ion-row>




</ion-content>
